<div class="container__big-card">
  <!--- Imagem sendo substituída por uma variável -->
  <div class="big-card__photo">
    <img src="{{ photoCover }}"
     alt=""
     height="200px"
     >
  </div>

  <div class="big-card__title">
    <h1><a [routerLink]="['content', Id]">{{ cardTitle}}</a></h1>  <!--- Título sendo substituída por uma variável -->
  </div>

  <div class="big-card__description">
    <p>
      <a href="#"> 
      {{ cardDescription }}   <!--- Link sendo substituída por uma variável -->
    </a>
  </p>
  </div>
</div>
