.container__big-card {
  display: flex;
  align-items: flex-start; /* Define a orientação dos itens flexíveis ao longo do eixo vertical */
  justify-content: flex-start; /* Define a posição inicial ao longo do eixo principal */
  flex-direction: column; /* Define a direção principal do layout dos itens como coluna */
  width: 400px;
  height: 500px;
  margin-left: 20px;
  margin-right: 50px;
  margin-bottom: -55px;
}

.big-card__title > h1 {
  font-size: 20px;
  margin-top: 15px;
}

.big-card__description {
  margin-top: 10px;
}

.big-card__description > p > a {
  color: grey;
}

.big-card__photo > img {
  min-width: 400px;
  width: 100%;
}
