<app-menu-title></app-menu-title> 

<div class="container__articles"> 
  <div class="articles__main"> 
    <app-big-card
      Id="1"
      photoCover="https://tm.ibxk.com.br/2024/02/21/21103925397055.webp?ims=1280x480"
      cardTitle="Google lança Gemma, uma IA de código aberto baseada no Gemini"
      cardDescription="O Google anunciou nesta quarta-feira (21) o lançamento de um novo modelo de linguagem de inteligência artificial (IA). A novidade se chama Gemma, uma plataforma de código aberto voltada para empresas e pesquisadores interessados em explorar o tema e criar as próprias IAs.">
    </app-big-card>

    <app-big-card
      Id="2"
      photoCover="https://tm.ibxk.com.br/2023/07/26/26110031907090.jpeg?ims=1280x480"
      cardTitle="O que é linguagem de programação? Conheça as principais"
      cardDescription="Uma das mais populares vertentes da Tecnologia da Informação, a área de programação segue tendo muita demanda de trabalho justamente pela velocidade com que dispositivos tecnológicos vêm avançando.">
    </app-big-card>

    <app-big-card
      Id="3"
      photoCover="https://tm.ibxk.com.br/2023/03/03/kensie-03155543711527.jpg"
      cardTitle="Curso gratuito de programação tem mais de 10 mil vagas; inscreva-se"
      cardDescription="No próximo dia 11 de março, de forma totalmente virtual, vai acontecer a Maratona de programação da Kenzie, na qual os participantes poderão aprender mais sobre o assunto mesmo sem conhecimento prévio e ainda concorrer a três bolsas de estudo.">
    </app-big-card>
  </div>

  <div class="articles__other"> 
    <app-small-card
    Id="4"
    cardtitle="O que é código-fonte e como encontrá-lo?"
    photoCover="https://tm.ibxk.com.br/2023/12/13/13013407701003.jpg?ims=704x">
    </app-small-card>

    <app-small-card
    Id="5"
    cardtitle="Curso de programação: 5 opções para estudar em 2024"
    photoCover="https://tm.ibxk.com.br/2024/01/04/04111129353099.jpeg?ims=1280x480">
    </app-small-card>

    <app-small-card
    Id="6"
    cardtitle="Python: por que a linguagem é tão usada para Data Science e finanças?"
    photoCover="https://tm.ibxk.com.br/2023/09/05/05230631988023.jpg">
    </app-small-card>

    <app-small-card
    Id="7"
    cardtitle="Por que os hiperlinks são azuis em sua maioria? Descubra agora!"
    photoCover="https://tm.ibxk.com.br/2023/06/20/20121703084169.jpg?ims=1280x480">
    </app-small-card>

    <app-small-card
    Id="8"
    cardtitle="9 melhores sites para aprender Python de graça"
    photoCover="https://tm.ibxk.com.br/2022/07/26/26100734217047.jpg?ims=1280x480">
    </app-small-card>

    <app-small-card
    Id="9"
    cardtitle="Justiça determina que Meta mude de nome no Brasil em até 30 dias"
    photoCover="https://tm.ibxk.com.br/2024/03/01/01161445671234.jpg?ims=1280x480">
    </app-small-card>

    <app-small-card
    Id="10"
    cardtitle="7 comandos que devem ser evitados com a Alexa"
    photoCover="https://tm.ibxk.com.br/2024/02/28/28105354918087.jpeg?ims=1280x480">
    </app-small-card>

    <app-small-card
    Id="11"
    cardtitle="15 comandos no GIT que os desenvolvedores precisam saber"
    photoCover="https://tm.ibxk.com.br/2023/01/23/23114952829125.jpg?ims=1280x480">
    </app-small-card>
  </div>
</div>
